<div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-default btn-icon" type="button" ng-click="checkClicked()" ng-hide="giRequired" ng-if="giFormControlText"><span class="aon-eb-icon-close"></span></button>
        <button class="btn btn-default btn-icon disabled" type="button" ng-if="!giFormControlText || giRequired"><span class="aon-eb-icon-share transparent"></span></button>
    </span>
    <input type="text" class="form-control" ng-readonly="true" value="{{giFormControlText}}" ng-required="giRequired">
    <span class="input-group-btn">
        <button class="btn btn-default btn-icon" ng-click="giBtnClick()" ng-disabled="giBtnClickDisabled"><span class="fas fa-pencil-alt"></span></button>
    </span>
</div>