<div class="modal-header">
    <button type="button" class="close btn-nostyle" ng-click="$ctrl.cancel()" ng-show="$ctrl.showCancel">x</button>
    <h4 class="modal-title">{{::$ctrl.title}}</h4>
</div>
<div class="modal-body">
    <div>{{::$ctrl.text}}</div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Comments" class="col-sm-2 control-label" gi-translate="Comments" b-entity="$ctrl.translationEntity">Comments</label>
                <div class="col-sm-10">
                    <textarea ng-model="$ctrl.newComment"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.ok()">{{::$ctrl.okText}}</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()" ng-show="$ctrl.showCancel">{{$ctrl.cancelText}}</button>
</div>